
body{
    width: 100%;
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;

}
.top{
    width: 100%;
    height: 650px;
    background-image: url(../img/暗黒大陸.jpg);
    background-position: center;
    background-size: cover;
    /* display: none; */
}

.top h1{
    padding-top: 10px;
    height: 60px;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: HiraKakuProN-W6;
}

.top_content{
    display: flex;
    align-items: center;
}
.top_content p{
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    color: #FFF;
    height: 100px;
    padding-top: 50px;
    border-radius: 10%;
}
.button_area {
    text-align: center;
}
#start_btn{
    margin-top: 40px;
    height: 50px;
    width: 140px;
    border-radius:140px;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: HiraKakuProN-W6;
}

/* main画面 */

.main p{
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
}
#main_img{
    margin-top: 50px;
}
.main ul{
    margin-top: 70px;
}

#gu_btn{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    font-size: 60px;
    font-family: HiraKakuProN-W6;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    border:  double 20px;
}
#cho_btn{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    font-size: 60px;
    font-family: HiraKakuProN-W6;
    background-color: rgba(255, 255, 0, 0.8);
    color: white;
    border:  double 20px;

}
#par_btn{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    font-size: 60px;
    font-family: HiraKakuProN-W6;
    background-color: rgba(0, 0, 255, 0.8);
    color: white;
    border:  double 20px;

}

ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  
    table-layout: fixed;
    width:100%;
}
li{
    text-align: center;
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell; 
    cursor: pointer;
}
li:hover{
    background: #0066CC;
    color:#fff;
} 

/* ジャッジメントエリア */
.judgment_area p{
    font-size: 45px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
#aiteimg {
    text-align: center;
}

.last{
    text-align: center;
}
/* lastエリア */
.last p{
    font-size: 45px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    font-family: HiraKakuProN-W6;
}

.main{
    display: none;
}
.judgment_area{
    display: none;
}
.last{
    display: none;
    width: 100%;
    height: 650px;
    background-image: url(../img/背景.png);
    background-position: center;
    background-size: cover;
}